.login-container {
  max-width: 500px;
  text-align: left;
  margin: 200px auto;
}
.login-head-container {
  display: flex;
  justify-content: space-between;
}
.login-head {
  background-color: red;
  width: 200px;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.signup-button {
  text-align: right;
  font-size: 40px;
  color: aquamarine;
}
.btn-1 {
  height: 50px;
  width: 175px;
  font-size: large;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background-color: coral;
}
.signup-container {
  max-width: 600px;
  margin: 100px auto;
  text-align: center;
  text-decoration: underline;
}
.signup-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.forgetpass-container {
  text-align: center;
  margin: 200px auto;
  max-width: 600px;
}
.forget-entry {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.verify-container {
  display: flex;
  justify-content: flex-end;
}

.verifyotp-Container {
  text-align: center;
  margin: 50px auto;
  max-width: 400px;
  padding: 50px;
}

.verifyotp-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.resetpass-container {
  text-align: center;
  margin: 0px auto;
  max-width: 400px;
  padding: 50px;
}
.resetpass-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.heading-container {
  display: flex;
  justify-content: space-between;
  margin: 0px;
}

.phone-picture {
  margin: 10px;
  height: 300px;
  width: 300px;
  object-fit: contain;
}

.phone-container {
  background-color: white;
  width: 355px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 24%) 1px 2px 13px;
}

.phone-name {
  padding: 16px;
  font-size: 48px;
  margin-bottom: 0px;

  /* font-weight: bold; */
}

.phone-company {
  /* padding: 16px; */
  font-size: 32px;
  color: grey;
  /* font-weight: bold; */
  margin-top: 0px;
}
.mobileList {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  gap: 1rem;
}
